
  body{
    background-color: #680707;
  }

.main{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #7FFFD4;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow:5px 10px #888888;


}
#countLabel{
  text-align: center;
  font-size: 50px;
  color: red;
  border: 2px solid black;
  width: 70px;
  height: 70px;
  background-color: #fff;
  color: red;
  border-radius: 5px;
 

  
}
#decreaseBtn{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow:5px 10px #888888;
  margin: 5px;
  background-color: blue;
  color: white;
}
#reset{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow:5px 10px #888888;
  margin: 5px;
  background-color: #33d40f;
  color: white;
}
#increaseBtn{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow:5px 10px #888888;
  margin: 5px;
  background-color: blue;
  color: white;
}
.final{
  margin: 15%;
}